[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/electro-smith/libDaisy
	shallow = true
[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = https://github.com/electro-smith/DaisySP
	shallow = true
[submodule "lib/CMSIS-DSP"]
	path = lib/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
